@{
    ViewData["Title"] = "Home Page";
}

<div class="text-primary">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2>@ViewData["Message"]</h2>
    <h3>@ViewBag.Msg</h3>
</div>

<div class="text-secondary">
    <p>This is the @ViewData["Title"]</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
